.Front{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    /* border-style: solid; */
    padding: 5px;
    margin: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}


.Back{
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10%;
    /* border-style: solid; */
    padding: 5px;
    margin: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

a{
    text-decoration: none;
    color: black;
}

button{
    background-color: #1da2a2;
    border: none;
    color: white;
    font-family: 'Georgia', serif;
    font-size: 15px;
    margin: 20px;
    padding: 10px;
}