.flip-mcard-front, .flip-mcard-back {
    border: 1px solid #f1f1f1;
    cursor: pointer;
    height: 250px;
    font-size: 15px;
    margin: 20px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px #999;
}

.flip-mcard-front {
    background-color: white;
    color: black;
}

/* .flip-mcard-front img{
    background-color: #DC3E52;
    border-radius: 15px;
    margin: 5px;
    padding: 3px;
    width: 60px;
} */

.flip-mcard-front h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 3px;
    padding: 3px;
}

.flip-mcard-front p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.flip-mcard-back {
    background-color: white;
    color: black;
}

.flip-mcard-back img{
    background-color: white;
    border-radius: 15px;
    margin: 5px;
    padding: 3px;
    width: 60px;
}

.flip-mcard-back p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

.flip-mcard-back a{
    color: white
}