.Portfolio {
    background-color: white;
    padding: 0;
    height: 80vh;
    font-family: 'Georgia', serif;
    min-width: 100%;
}


.Projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    padding: 20px;
}