.Home {
    background-color: white;
    padding: 20px;
}

.Content{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
}

/* .MyWork{
    
} */

.Works {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    padding: 30px;
}

