.Home {
    background-color: white;
    padding: 0;
    height: 80vh;
    font-family: 'Georgia', serif;
    content: ' ';
    display: table;
    clear: both;
}

img{
    padding: 0;
    margin: 0;
    height: 80vh;
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(-1.8deg);}
    50%{-webkit-transform: rotate(1.8deg)}
    100%{-webkit-transform: rotate(-1.8deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(-1.8deg);}
    50%{transform: rotate(1.8deg)}
    100%{transform: rotate(-1.8deg);}
}
 
.swing_b1 {
    -webkit-transform-origin: bottom left 10px;
    transform-origin: bottom left 10px;
    -webkit-animation: swinging 7s ease-in-out forwards infinite;
    animation: swinging 7s ease-in-out forwards infinite;

    float: left;
    /* width: 100%; */
    margin-right: -100%;
    position: relative;
    z-index: 2;
}

.swing_b2 {
    -webkit-transform-origin: bottom left 10px;
    transform-origin: bottom left 10px;
    -webkit-animation: swinging 7s ease-in-out forwards infinite;
    animation: swinging 7s ease-in-out forwards infinite;

    float: left;
    /* width: 100%; */
    margin-right: -100%;
    position: relative;
    z-index: 0;
}

.swing_b3 {
    -webkit-transform-origin: bottom left 10px;
    transform-origin: bottom left 10px;
    -webkit-animation: swinging 7s ease-in-out forwards infinite;
    animation: swinging 7s ease-in-out forwards infinite;

    float: left;
    /* width: 100%; */
    margin-right: -100%;
    position: relative;
    z-index: 1;
}

.Content{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
}


