.Home {
    background-color: white;
    padding: 0;
    height: 80vh;
    font-family: 'Georgia', serif;
    min-width: 100%;
}

.Bamboo_grove {
    content: ' ';
    display: table;
    clear: both;
}

img{
    padding: 0;
    margin: 0;
    height: 80vh;
    max-width: 100%;
}

@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(-1.8deg);}
    50%{-webkit-transform: rotate(1.8deg)}
    100%{-webkit-transform: rotate(-1.8deg);}
}
 
@keyframes swinging{
    0%{transform: rotate(-1.8deg);}
    50%{transform: rotate(1.8deg)}
    100%{transform: rotate(-1.8deg);}
}
 
.swing_b1 {
    -webkit-transform-origin: bottom left 10px;
    transform-origin: bottom left 10px;
    -webkit-animation: swinging 7s ease-in-out forwards infinite;
    animation: swinging 7s ease-in-out forwards infinite;

    float: left;
    /* width: 100%; */
    margin-right: -100%;
    position: relative;
    z-index: 2;
}

.swing_b2 {
    -webkit-transform-origin: bottom left 10px;
    transform-origin: bottom left 10px;
    -webkit-animation: swinging 8s ease-in-out forwards infinite;
    animation: swinging 8s ease-in-out forwards infinite;

    float: left;
    margin-right: -100%;
    position: relative;
    z-index: 0;
}

.swing_b3 {
    -webkit-transform-origin: bottom left 10px;
    transform-origin: bottom left 10px;
    -webkit-animation: swinging 7.5s ease-in-out forwards infinite;
    animation: swinging 7.5s ease-in-out forwards infinite;

    float: left;
    margin-right: -100%;
    position: relative;
    /* width: 100%; */
    z-index: 1;
    
}

.text{
    /* float: center; */
    /* margin-right: -100%; */
    position: absolute;
    z-index: 5;
    top: 25%;
    left: 0%;
    text-align: center;
}

.homeButton{
    background: #1da2a2;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    /* border:#1da2a2; */
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    color: white;
    cursor: pointer;
    font-family: 'Georgia', serif;
    font-size: 22px;
    min-width: 300px;
    min-height: 60px;
    outline: none;
    position: relative;
    padding: 10px;
    transition: all 0.3s ease-in-out 0s;
}


.homeButton::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.homeButton:hover, .homeButton:focus {
    color: #313133;
    transform: translateY(-6px);
}

.homeButton:hover::before, .homeButton:focus::before {
    opacity: 1;
}

.homeButton::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
  
.homeButton:hover::after, .homeButton:focus::after {
    animation: none;
    display: none;
  }
  
@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
}


@media only screen and (min-width: 992px){
    .homeButton{
        border: none;
    }

    .text{
        left: 35%;
    }
}